.cardContainer {
  padding: 20px;
  width: 328px;
  border-radius: 10px;
  background-color: white;
}

.userImg {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.userInfo {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.tooltip {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  display: none;
  max-width: 290px;
  font-size: 16px;
  line-height: 26px;
  overflow-wrap: break-word;
  padding: 3px 16px;
  border-radius: 4px;
  color: #fff;
  background: rgba(0, 0, 0, 0.87);
  z-index: 1;
}

.userName {
  padding-top: 20px;
  padding-bottom: 20px;

  & .tooltip {
    bottom: 15px;
  }
}

.userEmail,
.userName {
  &.withTooltip {
    cursor: pointer;
  }
}

.userName:hover,
.userEmail:hover {
  & .tooltip {
    display: block;
  }
}

@media (min-width: 768px) {
  .cardContainer {
    width: 344px;
  }
}

@media (min-width: 1024px) {
  .cardContainer {
    width: 282px;
  }

  .tooltip {
    right: 0;
    max-width: 270px;
  }
}

@media (min-width: 2560px) {
  .cardContainer {
    width: 370px;
  }
}
