.signUpSection {
  padding-top: 140px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 651px;
}

.successImg {
  width: 328px;
  height: 290px;
}
