$primary-color: #f4e041;
$secondary-color: #00bdd3;
$bgc-color: #f8f8f8;
$text-color: #000000de;
$button-hover: #ffe302;
$button-disabled: #b4b4b4;
$label-color: #7e7e7e;
$input-border-color: #d0cfcf;
$error-color: #cb3d40;
