@import "../../styles/variables.scss";
@import '../../styles/mixins.scss';

.signUpForm {
  max-width: 328px;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 380px;
    margin: 0 auto;
  }
}

.inputContainer {
  position: relative;
}

.inputContainer:nth-child(1),
.inputContainer:nth-child(2) {
  padding-bottom: 50px;
}

.inputContainer:nth-child(3){
  padding-bottom: 43px;
}

.label {
  position: absolute;
  top: 0;
  left: 16px;
  font-size: 16px;
  line-height: 1.63;
  transform: translate(-5px, 11px);
  transition: transform 0.2s ease;
  color: $label-color;
}

.input {
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  background-color: transparent;
  outline: none;
  border: 1px solid $input-border-color;
  border-radius: 4px;

  &:focus + .label,
  &:not(:placeholder-shown) + .label {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
    transform: translate(-7px, -12px) scale(0.95);
    background-color: $bg-color;
  }
}

.radioTitle {
  padding-bottom: 14px;
}

.radioWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 7px;
}

input[type="radio"] {
  cursor: pointer;
}

// Upload photo
.upload {
  padding-bottom: 50px;
  position: relative;
}

.uploadContainer {
  display: flex;
  max-width: 328px;
  padding-top: 36px;

  @media (min-width: 768px) {
    min-width: 380px;
  }
}

.uploadLabel {
  padding: 14px 15px;
  border: 1px solid $text-color;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}

.inputUploadContainer {
  flex: 1 1 auto;
  border: 1px solid $input-border-color;
  border-radius: 0px 4px 4px 0px;
}

.uploadInput {
  width: 100%;
  padding: 17px 16px;
  cursor: pointer;
}

.uploadInputEmpty {
  color: transparent;
  width: 100%;
  padding: 15px 16px;
  cursor: pointer;
}

.uploadInputEmpty::before {
  content: "Upload your photo";
  font-size: 16px;
  color: $label-color;
}

.uploadInput::-webkit-file-upload-button,
.uploadInputEmpty::-webkit-file-upload-button {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.submitButton {
 @include button;
  width: 120px;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
@include button;
  width: 120px;
  background-color: $button-disabled;
  color: white;
}

.helper {
  padding-top: 4px;
  font-size: 12px;
  line-height: 0.88;
  color: $label-color;
}

.error {
  position: absolute;
  bottom: 46px;
  left: 16px;
  transform: translateY(100%);
  font-size: 12px;
  line-height: 0.88;
  color: $error-color;
}

.inputContainer:nth-child(3) .error{
  bottom: 39px;
}

.errorInput {
  border: 2px solid $error-color;
  & + .label {
    color: $error-color;
  }
}

.uploadLabel.errorInput {
  border-right: none;
}
