@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.signUpForm {
  max-width: 328px;
  height: 651px;
  margin: 0 auto;
}

//Inputs

.inputContainer {
  position: relative;
}

.inputContainer:nth-child(1),
.inputContainer:nth-child(2) {
  padding-bottom: 50px;
}

.inputContainer:nth-child(3) {
  padding-bottom: 43px;
}

.label {
  position: absolute;
  top: 3px;
  left: 21px;
  font-size: 16px;
  line-height: 26px;
  transform: translate(-5px, 11px);
  transition: transform 0.2s ease;
  color: $label-color;
}

.input {
  display: block;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  padding: 13px 16px;
  background-color: transparent;
  outline: none;
  border: 1px solid $input-border-color;
  border-radius: 4px;

  &:focus + .label,
  &:not(:placeholder-shown) + .label {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
    transform: translate(-7px, -12px) scale(0.95);
    background-color: $bg-color;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $bg-color inset;
  }
}

//Radio buttons

.radioTitle {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 10px;
}

.radioWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 7px;
}

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.radioLabel {
  position: relative;
  display: block;
  padding-bottom: 7px;
  cursor: pointer;
}

.radioLabelText {
  font-size: 16px;
  line-height: 26px;
  padding-left: 32px;
}

.outerCircle,
.innerCircle {
  position: absolute;
  top: 3px;
  left: 0;
  display: inline-block;
  border-radius: 50%;
}

.outerCircle {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid $input-border-color;
}

.innerCircle {
  width: 10px;
  height: 10px;
  background-color: transparent;
  transform: translate(50%, 50%);
}

input[type="radio"]:checked ~ .innerCircle {
  background-color: $radio-button-color;
}

input[type="radio"]:checked ~ .outerCircle {
  border-color: $radio-button-color;
}

// Upload photo input

.upload {
  padding-bottom: 50px;
  position: relative;
}

.uploadContainer {
  display: flex;
  max-width: 328px;
  padding-top: 40px;

  @media (min-width: 768px) {
    min-width: 380px;
  }
}

.inputUploadContainer {
  flex: 1 1 auto;
  border: 1px solid $input-border-color;
  border-left: none;
  border-radius: 0px 4px 4px 0px;
}

.uploadLabel {
  font-size: 16px;
  line-height: 26px;
  padding: 13px 14px 13px 15px;
  border: 1px solid $text-color;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}

.uploadInput {
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  padding: 13px 16px;
  cursor: pointer;
}

.uploadInputEmpty {
  color: transparent;
  width: 100%;
  padding: 15px;
  cursor: pointer;
}

.uploadInputEmpty::before {
  content: "Upload your photo";
  font-size: 16px;
  color: $label-color;
}

.uploadInput::-webkit-file-upload-button,
.uploadInputEmpty::-webkit-file-upload-button {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

//Submit button

.submitButton {
  @include button;
  width: 100px;
}

.disabled {
  @include button;
  width: 100px;
  background-color: $button-disabled;
  color: white;
}

.disabled:hover {
  background-color: $button-disabled;
}

//Errors and helpers

.helper {
  position: absolute;
  bottom: 39px;
  left: 16px;
  transform: translateY(100%);
  font-size: 12px;
  line-height: 14px;
  color: $label-color;
}

.error {
  position: absolute;
  bottom: 46px;
  left: 16px;
  transform: translateY(100%);
  font-size: 12px;
  line-height: 14px;
  color: $error-color;
}

.inputContainer:nth-child(3) .error {
  bottom: 39px;
}

.errorInput {
  border: 2px solid $error-color;
  & + .label {
    color: $error-color;
  }
}

.errorInput.input {
  padding-top: 12px;
  padding-bottom: 12px;
}

.uploadLabel.errorInput {
  padding-top: 12px;
  padding-bottom: 12px;
  border-right: none;
}

.inputUploadContainer.errorInput {
  & .uploadInput {
    padding: 12px 15px;
  }
}

@media (min-width: 768px) {
  .signUpForm {
    max-width: 380px;
    margin: 0 auto;
  }
}
